## Exercises Part I
Make a file named pandas_series.py or pandas_series.ipynb for the following exercises.

Use pandas to create a Series named fruits from the following list:

    ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]
Use Series attributes and methods to explore your fruits Series.

- Determine the number of elements in fruits.

- Output only the index from fruits.

- Output only the values from fruits.

- Confirm the data type of the values in fruits.

- Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

- Run the .describe() on fruits to see what information it returns when called on a Series with string values.

- Run the code necessary to produce only the unique string values from fruits.

- Determine how many times each unique string value occurs in fruits.

- Determine the string value that occurs most frequently in fruits.

- Determine the string value that occurs least frequently in fruits.

In [3]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [4]:
fruits= pd.Series (["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])

In [5]:
#1 Determine the number of elements in fruits.
fruits.size

17

In [6]:
#2 Output only the index from fruits.
fruits.sort_index()

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [7]:
#3 Output only the values from fruits.
fruits.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [8]:
#4 Confirm the data type of the values in fruits.
fruits.dtype

dtype('O')

In [9]:
#5 Output only the first five values from fruits. Output the last three values. Output two random values from fruits.
fruits.head(5)

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [10]:
fruits.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [12]:
fruits.sample(2)

3    pineapple
0         kiwi
dtype: object

In [11]:
#6 Run the .describe() on fruits to see what information it returns when called on a Series with string values.
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [13]:
#7 Run the code necessary to produce only the unique string values from fruits.
fruits.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [14]:
#8 Determine how many times each unique string value occurs in fruits.
fruits.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [15]:
#9 Determine the string value that occurs most frequently in fruits.
fruits.value_counts().head()
#fruits.value_counts().idxmax()

kiwi          4
mango         2
strawberry    1
pineapple     1
gala apple    1
dtype: int64

In [16]:
#10 Determine the string value that occurs least frequently in fruits.
fruits.value_counts().nsmallest(n=1, keep='all' )

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

NameError: name 'df' is not defined